# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:password@localhost:5432/certidocs"

# NextAuth
NEXTAUTH_SECRET="genera-un-secret-seguro-con-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# (Opcional) OAuth providers
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""

# Stripe (obtener en dashboard.stripe.com)
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."

# Resend (obtener en resend.com)
RESEND_API_KEY="re_..."
EMAIL_FROM="CertiDocs <noreply@certidocs.es>"
